<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<div class="container text-center">

    <body>
        Hello there!<br>
        Welcome to my website! This is the first website I've made using django!<br>
        Hope you find it useful :)<br>
        <br>
        <a href="{% url 'home'%}" class="btn btn-danger">Home</a>
    </body>
</div>

</html>